$white: #ffffff;
$black: #000000;
$bg-gray: #eeeeee;
$btn-border: #3366ff;
$bg-blue: #356aff;
$title-dark: #333333;
$underline-blue: #1649d9;
$copyright-dark: #03192b;
$footer-blue: #03192b;
$site-links: #144166;