<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    title Document
    link(rel="stylesheet" type="text/css" href="./css/style.css")
</head>
<body>
   
    #cy


    //- script(src="https://d3js.org/d3.v5.min.js")
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.20/cytoscape.min.js")
    script(src="./js/app.js")
</body>
</html>