@import "vendor/normalize";

// Main styles
@import "base/main_styles";
@import "base/fonts";
@import "base/colors";

// Pages


.db-score-diagramm__title {
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    fill: #A6A6A6;
    font-weight: 700;
    text-align: center;
}